body {
    background-color: rgb(255, 255, 255);
    color: black;
    
    > a.Button {
      text-decoration: none;
      color: black;
    }

    > div.HeaderObject {
        background-color: rgb(191, 191, 191);
        
        > div.WidthLimit {
            > div.Right {
                > div#Light-DarkToggleButton {
                    > svg:first-child {
                        display: block;
                        color: black;
                    }
                    
                    > svg:last-child {
                        display: none;
                        color: white;
                    }
                }
                
                > div.SearchBox {
                    > div.AllSuggest {
                        > a.Suggest {
                            background-color: rgb(191, 191, 191);
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

body.Dark {
    background-color: rgb(64, 64, 64);
    color: #E8EAED;

    a {
      &:link {
        color: rgb(127, 235, 65);
      }

      &:visited {
        color: rgb(117, 214, 198);
      }
    }

    > a.Button {
      text-decoration: none;
      color: #E8EAED;
    }

    > div.HeaderObject {
        background-color: rgb(127, 127, 127);
        
        > div.WidthLimit {
            > div.Right {
                > div#Light-DarkToggleButton {
                    > svg:first-child {
                        display: none;
                    }
                    
                    > svg:last-child {
                        display: block;
                    }
                }
                
                > div.SearchBox {
                    > div.AllSuggest {
                        > a.Suggest {
                            background-color: rgb(127, 127, 127);
                            text-decoration: none;
                            color: #E8EAED;
                        }
                    }
                }
            }
        }
    }
}